*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
  color: purple;
}

.nav{
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: center;
}

.nav-link{
  text-decoration: none;
  background-color: blanchedalmond;
  padding: .4rem .6rem;
  color: #230b90;
}

.nav-link-active{
  color: #f811ab;
  background-color: #230b90;
  padding: .4rem .6rem;
}

.properties, 
.home, 
.about, 
.dashboard, 
.income, 
.reviews, 
.landlord-properties,
.landlord-properties-menu,
.landlord-property-details,
.property-details-loading{
  margin-top: 3rem;
  width: 1200px;
  margin-inline: auto;
}

/* Home */
.home h2{
  text-align: center;
  font-size: 2rem;
}

.home .hero{
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  align-items: center;
}

.home .hero img{
  width: 50%;
}

.home .hero h3{
  background-color: antiquewhite;
  padding: .6rem 1rem;
  font-size: 1.5rem;
}

.home .hero .properties-link{
  color: brown;
  text-decoration: underline;
}

.home h3{
    text-align: center;
    margin-top: 1.5rem;
}

/* Properties */
.properties h2{
  text-align: center;
  font-size: 2.2rem;
}

.properties .property-container{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  gap: 3em;
}

.properties .property-img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.properties .property-info{
  margin-top: .5rem;
}

/* Footer */
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #230b90;
  padding: .6rem 0;
  text-align: center;
  color: white;
}

/* Details Property */
.properties-details-container{
  width: 1200px;
  margin-inline: auto;
  margin-top: 2rem;
}

.properties-details{
  display: flex;
  gap: 1rem;
}

.properties-details img{
  width: 60%;
}

.properties-details .details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.properties-details .details h3{
  font-size: 2rem;
}

.properties-details .details .price{
  font-size: 1.5rem;
  font-weight: 600;
}

.properties-details .details button{
  border: none;
  cursor: pointer;
  padding: .6rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: .4s;
}

.properties-details .details button:hover{
  background-color: aquamarine;
  transition: .4s;
}

/* Landlord Properties Menu */
.landlord-properties-menu > .landlord-nav-link-active, .landlord-nav-link{
  font-size: 1.2rem;
  margin-left: 1.5rem;
  color: #230b90;
  background-color: bisque;
  padding: .6rem .8rem;
}
.landlord-properties-menu .landlord-nav-link-active{
  color: #f811ab;
  background-color: #230b90;
}

/* Landlord Properties */
.landlord-properties h2{
  text-align: center;
}

.landlord-property-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landlord-property-main{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.landlord-property-main img{
  flex: 1;
  height: 300px;
  object-fit: cover;
}

.landlord-property-main .property-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

/* Landlord Property Details */
.landlord-property-details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landlord-property-details .nav{
  display: flex;
}

.landlord-property-details .nav img{
  width: 2rem;
}

.landlord-property-details .property{
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.landlord-property-details .property img{
  width: 50%;
  flex: 1;
}

.landlord-property-details .property .property-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.landlord-property-details h3{
  background-color: burlywood;
  width: fit-content;
  color: #5e4baa;
  padding: .4rem .6rem;
}

.landlord-property-details .property-info h2{
  font-size: 2.5rem;
}

.landlord-property-details .property-info p{
  font-size: 1.5rem;
}

/* Property Info Navbar */
.property-info-nav{
  margin-top: 1rem;
}

.property-info-nav > .property-info-nav-active, .property-info-nav-link{
  font-size: 1.2rem;
  margin-left: 1.5rem;
  color: #230b90;
  background-color: bisque;
  padding: .3rem .5rem;
}

.property-info-nav .property-info-nav-link{
  color: #f811ab;
  background-color: #230b90;
}

/* Landlord Properties Details */
.property-details-property-photo img{
  width: 10rem;
}